<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.mingzhe.credit.manage.mapper.NplmLoanContractMapper">

    <resultMap id="contractMap" type="com.mingzhe.credit.bean.NplmLoanContract" autoMapping="true">
        <id property="id" column="id"></id>
        <!-- <result property="id" column="id" ></result>-->
        <collection property="nplmContractAttribute" ofType="com.mingzhe.credit.bean.NplmContractAttribute" autoMapping="true">
            <id property="id" column="b_id"></id>
            <!--<result property="id" column="nca_id" ></result>-->
        </collection>
        <collection property="nplmBorrowerInfo" ofType="com.mingzhe.credit.bean.NplmBorrowerInfo" autoMapping="true">
            <id property="id" column="c"></id>
            <!--<result property="id" column="nbi_id" ></result>-->
        </collection>
    </resultMap>


    <select id="getNplmLoanContractMapList" resultMap="contractMap" >


        SELECT
            a.`ID` , a.`LOAN_CONTRACT_NUM` , a.`LOAN_INSTALMENTS`,a.`START_DATE`,a.`END_DATE`,
            a.`LOAN_AMOUNT`,a.`REPAY_ACCOUNT_BANK_NAME`,a.`REPAY_ACT_BRANCH_NO`,a.`PRE_FEE`,a.`LOAN_TYPE`,
            a.`PUT_AMOUNT`,
            b.`id` b_id ,b.`loan_contract_id`,b.`def1`,b.`def1`,b.`def2`,b.`def3`,b.`def4`,
            b.`sign_type`,b.`sign_date`,b.`is_recycle_load`,b.`recycle_loan_cnt`,b.`settle_date`,

            c.`id` c_id ,c.`CLIENT_NAME`,c.`IDENTITY_TYPE`,c.`IDENTITY_NUM`

            FROM nplm_loan_contract a INNER JOIN nplm_contract_attribute b
            ON  a.`ID`= b.`loan_contract_id`
            INNER JOIN nplm_borrower_info c
            ON a.`borrower_id` = c.`id`
            LIMIT #{pageIndex},#{pageSize}

    </select>
    <select id="getContractMapCount" resultType="int">
        SELECT
        COUNT(a.`ID`)
        FROM nplm_loan_contract a INNER JOIN nplm_contract_attribute b
        ON  a.`ID`= b.`loan_contract_id`
        INNER JOIN nplm_borrower_info c
        ON a.`borrower_id` = c.`id`
    </select>




</mapper>